:root {
  --primary-color: #ff5733;        /* Deep Orange */
  --secondary-color: #228b22;      /* Forest Green */
  --background-color: #fdf5e6;     /* Cream or Light Beige */
  --accent-color-1: #800080;       /* Eggplant Purple */
  --accent-color-2: #ffdb58;       /* Mustard Yellow */
  --text-color: #333333;           /* Charcoal Gray */
  --text-light-color: #ffffff;     /* White */
  --optional-highlight: #ff6347;   /* Tomato Red */
}

* {
  padding: 0;
  margin: 0;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/main_background.jpg');

   /* Full height */
   height: 100%;
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;

  
}

/* .backgroundImage {
  object-fit: cover;
  z-index: -1;
  position: absolute;
} */
