.container {
  margin: 20px;
}

.intro h1 {
  font-size: 50px;
}

.intro p {
  font-size: 25px;
}

.intro {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

.button {
  background-color: black;
  color: white;
  width: 30%;
  padding: 8px;
  border-radius: 20px;
  font-size: 15px;
}

.featuredTitle {
  text-align: center;
  margin: 5% 35%;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgb(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.2);
  transition: ease-out 0.5s;

}

.featuredTitle:hover {
  background-color: rgb(221, 221, 221, 0.6);
  backdrop-filter: blur(10px);
}

.featuredContainer {
  display: flex;
  margin: 0 50px;
  gap: 50px;
}

.featuredContainer:nth-child(2n) {
  flex-direction: row-reverse;

}

.imageContainer {
  display: flex;
  height: 400px;
  position: relative;
  flex: 1;
  transition: ease-out 0.5s;
}

.imageContainer:hover {
  scale: 1.05;
}

.imageContainer Image {
  object-fit: cover;
  border-radius: 20px;
}



.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-justify: auto;
}

.item button {
    background-color: black;
    color: white;
    width: 30%;
    padding: 8px;
    border-radius: 20px;
    font-size: 15px;
  }
