.container {
  margin: 20px;
}

.intro h1 {
  font-size: 50px;
}

.intro p {
  font-size: 25px;
}

.intro {
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 20px 0;
}

.button {
  background-color: black;
  color: white;
  width: 30%;
  padding: 8px;
  border-radius: 20px;
  font-size: 15px;
}

.featuredTitle {
  text-align: center;
  margin: 5% 35%;
  padding: 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgb(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px); 
  transition: ease-out 0.5s;

}

.featuredTitle:hover {
  background: rgb(222, 219, 219);
}

.featured {
  display: flex;
  flex-direction: column;
}
