.logo {
    all: unset;
    cursor: pointer;
    flex: 1;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    
}