.logo {
    all: unset;
    cursor: pointer;
    flex: 1;
    font-weight: 800;
    font-size: 25px;
}

.links {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-left: auto;
    /* font-weight: bold; */
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    padding: 20px;
    /* background-color: var(--accent-color-2) ; */
    color: var(--text-color);
    
    
}

.link {
    text-decoration: none;
    color: rgb(221, 221, 221);
    background-color: black;
    padding: 10px 20px;
    border-radius: 20px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    font-weight: 500;
    transition: ease-out 0.4s;
}

.link:hover {
    color: black;
    background-color: rgb(221, 221, 221, 0.6);
    backdrop-filter: blur(10px);

}